.header {
  font-size: 21px;
}

#main {
  padding: 20px;
}

details {
  position: relative;
}

.spell {
  min-width: 100px;
  box-sizing: border-box;
}

.container {
  margin: 5px;
}

img {
  margin-top: 30px;
  box-sizing: border-box;
}
.headerh2 {
  height: 68px;
}
