.green {
  color: #017100;
}
.red {
  color: #b51700;
}
.wight {
  text-shadow: 1px 1px 0px #fff, 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.big {
  font-size: 1.2rem;
}
.nature {
  color: #0b623b;
}
.black {
  color: black;
}

.goddess {
  color: #007b76;
}

.toggle-image {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.random-text {
  font-family: "Dovahkiin", sans-serif;
}

#dop {
  p.description {
    height: 240px;
    overflow: hidden;
  }
  .remark {
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (min-width: 1000px) {
  .container {
    padding-top: 30px;
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: autos;
    justify-content: center;
    align-items: center;
  }

  .spell {
    height: 100%;
  }

  .selector {
    grid-auto-flow: column;
  }
}

/* #dop {
  padding-top: 30px;
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: autos;
  justify-content: center;
  align-items: center;
} */
