.header__container {
   width: 100%;
   background-color: #e1d2c4;
   padding: 10px 0;
   display: flex;
   justify-content: center;
   position: relative;
   z-index: 10;
}

.header__content {
   width: 1000px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   margin-left: 20px;
   height: 50px;
   width: 50px;
   padding: 5px;
   display: block;
   border-radius: 50%;
}

.header__nav {
   display: flex;
   gap: 20px;
   padding-right: 3px;
}

.header__nav__dropdown {
   position: relative;
   display: inline-block;
}

.header__nav__btn {
   width: 166px;
   padding: 10px;
   font-size: 16px;
}

.header__nav__btn__drop {
   display: none;
   position: absolute;
   background-color: #f9eedc;
   min-width: calc(166px - 2.5px);
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      &:hover {
         background-color: #fff;
         border-radius: 10px;
      }
   }
}

/* .dropdown-content a:hover {
   background-color: #fff;
   border-radius: 10px;
} */

.header__nav__btn__drop.active {
   display: block;
}

.header__hamburger {
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 6px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   cursor: pointer;
   padding: 0;
   transition: transform 0.3s ease;
   margin-right: 20px;
}

.header__hamburger-line {
   width: 50%;
   height: 3px;
   background-color: #382719;
   border-radius: 10px;
   transition: transform 0.3s ease;
}

.header__hamburger.active .header__hamburger-line:nth-child(1) {
   transform: translateY(9px);
}

.header__hamburger.active .header__hamburger-line:nth-child(3) {
   transform: translateY(-9px);
}
@media (min-width: 1000px) {
   .header__nav__dropdown:hover .header__nav__btn__drop {
      display: block;
   }
}
@media (max-width: 1000px) {
   .header__content,
   .header__container {
      width: 100%;
   }

   .header__hamburger {
      display: flex;
   }

   .header__nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #e1d2c4;
      z-index: 10;
   }

   .header__nav__btn {
      width: 100%;
      box-shadow: none;
      border-radius: 0%;
      &:not(:last-child) {
         border-bottom: none;
      }
   }
   .header__nav__btn.active {
      border-bottom: 3px solid #382719;
   }

   .header__nav__btn__drop {
      position: static;
      z-index: 10;
      box-shadow: none;
      border-radius: 0%;
      border-left: 3px solid #382719;
      border-right: 3px solid #382719;
   }

   .header__hamburger.active + .header__nav {
      display: flex;
      padding: 0;
      gap: 0%;
   }
}
