/* TopBar.css */
.topbar-container {
   width: 100%;
   background-color: #e1d2c4; /* Цвет фона, может быть изменен */
   padding: 10px 0; /* Отступы сверху и снизу */
   display: flex;
   justify-content: center;
   position: relative;
}

.topbar-content {
   width: 1000px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   margin-left: 20px;
   height: 50px;
   padding: 5px;
   display: block;
   background-color: #f9eedc;
   border-radius: 50%;
   border: 2.5px solid #2d210b;
   box-shadow: 3px 3px #382719;
   cursor: pointer;
   &:hover {
      background-color: #fff;
   }
}

.nav-menu {
   display: flex;
   gap: 20px; /* Отступы между выпадающими списками */
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropbtn {
   width: 150px;
   padding: 10px;
   font-size: 16px;
}

/* .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9eedc;
   min-width: calc(150px - 2.5px);
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
} */

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {
   background-color: #fff;
   border-radius: 10px;
}

.dropdown:hover .dropdown-content {
   display: block;
}

.btn {
   width: 100px;
   padding: 10px;
   font-size: 16px;
}

.hamburger {
   display: none;
   flex-direction: column;
   cursor: pointer;
}

.hamburger div {
   width: 25px;
   height: 3px;
   background-color: #2d210b;
   margin: 4px 0;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: rgba(249, 238, 220, 0.9);
   min-width: calc(150px - 3px);
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   z-index: 1;
}

.dropdown-content.active {
   display: block; /* Отображение выпадающего списка при клике */
}

@media (max-width: 1000px) {
   .dropdown-content {
      position: static;
      box-shadow: none;
   }

   .topbar-content {
      width: 100%;
      justify-content: space-between;
      padding: 0 20px;
   }

   .nav-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #e1d2c4;
      z-index: 10;
   }

   .dropbtn {
      width: 100%;
   }
   .dropdown {
      width: 100%;
   }

   .dropdown-content {
      position: static;
      box-shadow: none;
   }

   .dropdown-content a {
      padding: 10px 20px;
   }

   .hamburger {
      display: flex;
   }

   .hamburger.active + .nav-menu {
      display: flex;
   }

   .btn {
      width: 100%;
      padding: 15px 0;
      text-align: center;
   }
}
