.App {
   min-height: 100vh;
   min-width: 100vw;
   display: grid;
   grid-template-rows: auto auto 1fr auto;
}

button {
   background-color: #f9eedc;
   border: 2.5px solid #2d210b;
   box-shadow: 3px 3px #382719;
   cursor: pointer;
   font-family: "Luminari";
   border-radius: 10px;
}

button:hover {
   background-color: #fff; /* Цвет фона кнопки при наведении */
}

.login-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   button {
      width: 50%;
      padding: 5px;
      margin-top: 10px;
      font-size: 1em;
   }
}

h1 {
   text-align: center;
}

h2 {
   text-align: center;
   font-size: 23px;
   font-family: "Bulgaria Moderna Pro", sans-serif;
   padding-top: 2px;
}

h3 {
   font-size: 13px;
   font-weight: 400;
   font-family: "Copyright House Industries", sans-serif;
}

p {
   font-family: "Luminari";
}

.flex {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   overflow: hidden;
}

.flex-column {
   gap: 16px;
   flex-direction: column;
}

.container-404 {
   padding: 40px;
   background-color: #fffaf3;
   border: 2.5px solid #2d210b;
   box-shadow: 3px 3px #382719;
   align-self: center;
}

/* -------- */

select {
   width: 160px;
   border: 2px solid #2d210b;
   background-color: #f0e6d5;
   height: 36px;
   /* font-family: "Luminari"; */
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 25px 10% 10% 10%;
   width: 100%;
   p {
      margin-top: 20px; /* Увеличивает расстояние между абзацами */
      text-align: justify;
   }
}
/*
.container.index {
   min-height: 100vh;
} */

.spell {
   position: relative;
   background-color: #e1d2c4;
   border: 3px solid #382719;
   border-radius: 6px;
   padding: 46px 16px 16px 13px;
   margin: 30px;
   min-width: 300px;
}

img.bookmark {
   width: 60px;
   position: absolute;
   top: -16px;
}

img.verbal {
   left: 150px;
}

img.somatic {
   left: 200px;
}

img.material {
   left: 250px;
}

.headerh2 {
   height: 46px;
   width: 140px;
   background-color: #f0e6d5;
   border: 2.5px solid #382719;
   padding: 10px 3px 6px 3px;
   position: absolute;
   top: -12px;
   left: 6px;
}

p.description {
   font-size: 16px;
   /* text-decoration: underline dotted #382719; */
   /* border-bottom: 1.5px solid #382719; */
   line-height: 1.5em; /* Высота линий */
   background: linear-gradient(
      to bottom,
      transparent 1.4em,
      #382719 0em
   ); /* Цвет линий и расстояние между ними */
   background-size: 100% 1.5em; /* Ширина и высота фонового изображения */
   background-repeat: repeat-y; /* Повторять фон по вертикали */
}

h2 {
   text-align: center;
   font-size: 23px;
   font-family: "Bulgaria Moderna Pro", sans-serif;
}
h3 {
   font-size: 13px;
   font-weight: 400;
   font-family: "Copyright House Industries", sans-serif;
}

p {
   font-family: "Luminari";
}

.blockremark {
   margin-top: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   grid-gap: 15px;
}

.remark {
   background-color: #f0e6d5;
   border: 2.5px solid #2d210b;
   box-shadow: 3px 3px #382719;
   padding: 5px;
   margin-top: 10px;
   height: 100%;
}

.back .remark,
form .remark {
   display: flex;
   justify-content: center;
}

.remark-loginform {
   flex-direction: column;
}

.back .remark {
   margin-top: 0px;
}

.remark label {
   width: 85px;
   text-align: right;
   margin-right: 10px;
}

.mb-3 {
   margin-bottom: 3px;
}

#loginForm {
   .remark {
      display: flex;
      flex-direction: column; /* Размещаем элементы вертикально */
   }

   div {
      display: flex;
      flex-grow: 1;
   }

   input {
      margin-right: 10px;
      flex-grow: 1; /* Кнопка будет расти, заполняя доступное пространство */
      flex-basis: 0;
      width: auto;
   }
}

.remark.back {
   grid-column: 1/3;
}

.remark p {
   font-size: 70%;
   text-align: center;
}

a {
   color: #520d5a;
   font-size: 16px;
   text-decoration: none;
   cursor: pointer;
}

a:hover {
   color: #17879b;
}

input:focus:invalid {
   border: solid 5px #7f141a;
}

input {
   border: solid 1px #382719;
   border-radius: 3px;
}

.not-found {
   text-align: center;
   padding: 16px 16px 16px 16px;
}

.info {
   background-color: #e1d2c4;
   width: 75%;

   padding: 10%;
}

hr {
   height: 1px;
   background: white;
   border: none;
   outline: none;
   margin: 3em -2em 3em;
   position: relative;
   background-image: linear-gradient(to right, white, black, white);
   overflow: visible;
}

hr:before {
   content: "\2666\2666\2666";
   position: absolute;
   top: 1.23px;
   left: 50%;
   color: white;
   -webkit-text-stroke: 1px black; /* Обводка текста */
   padding: 0.5em 3em;
   transform: translate(-50%, -50%);
}

ul.footnote {
   li {
      margin-left: 10px;
      margin-right: 30px;
      margin-bottom: 10px;
   }
   li:last-child {
      margin-bottom: 0; /* Убираем маргин у последнего элемента */
   }
   li::before {
      margin-left: -20px;
      font-size: 0.8em;
      padding-right: 10px;
      content: "\2666";
      display: inline-block;
      transform: translateY(-7%);
      line-height: 1;
      color: white;
      -webkit-text-stroke: 1px black; /* Обводка текста */
   }
}

.login {
   background-color: #c6ebedb8;
   height: 100vh;
}

ol li:last-child {
   list-style-type: none; /* Убираем стандартную нумерацию */
   position: relative;
}

ol li:last-child::before {
   content: "*"; /* Добавляем звёздочку */
   position: absolute;
   font-size: 1.5em;
   left: -19px; /* Смещаем символ влево (регулируй в зависимости от твоего дизайна) */
   top: -1px;
}

.scroll-to-top {
   font-size: 1em;
   position: fixed;
   bottom: 10px;
   right: calc((100% - 1000px) / 2 - 85px);
   border-radius: 5px;
   cursor: pointer;
   z-index: 1000;
   opacity: 25%;
}

.scroll-to-top:hover {
   opacity: 100%;
}

.scroll-to-top.show {
   display: block;
}

@media (max-width: 1000px) {
   .scroll-to-top {
      right: calc(10px);
      border-radius: 5px;
      cursor: pointer;
      z-index: 1000;
   }
}
